<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcodes</title>
</head>
<body>
    <div>
        <h3>Barcoding</h3>

        <form method="POST" action="/barcoding">
            <label for="skip_reduction">Skip Reduction?</label><br>
            <input type="checkbox" value="Skip Reduction" id="skip_reduction" name="skip_reduction"/>
            <label for="start_of_pers">Start of Personalization (0 is automatic)</label><br>
            <input type="number" value=0 id="start_of_pers" name="start_of_pers" />
            <input type="submit" value="Run" />
        </form>
    </div>
</body>
</html>