<!DOCTYPE html>
<html>
  <head>
    <title>My webpage!</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="../static/js/index.js" async></script>
  </head>
  <body>
    <h1>PyKnit</h1>
    <h2>KMSCO Production Toolkit</h2>
    <h4 id='date'></h4>

    <div class="image-section">
      <div class="section-style">
        <img src="../static/LK.png" alt="" width="100" height="100" />
      </div>
    </div>
    <div>
    <a href="/static"><button>Click here to go to Personalizations</button></a>
    <a href="/barcodes"><button>Click here to go to Barcodes</button></a>
    </div>
  </body>
</html>
